*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #98a9f7;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


table,td,th{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}
caption{
  caption-side: bottom;
  text-align: left;
  font-weight: bold;
}
thead{
  background-color: salmon;
  color: white;
}
tbody tr{
  background-color: #9333ea;
}
tbody tr:nth-child(odd){
  background-color: white;
}
tbody tr:hover{
  background-color: #f0abfc;
}
tfoot td{
  background-color:#8655b4;
  color: white;
}
tfoot td:nth-child(1){
  background-color: black;
  color: white;
}

.description{
  width: 300px;
}
.col-2{
  width: 100px;
}
.col-3{
  background-color: red!important;
}


